#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
    transition: all .3s linear;
}

#header ul {
    display: flex;
    align-items: center;
    gap: 15px;
}

#header ul li {
    list-style: none;
    cursor: pointer;
}

#body{
    padding: 20px 15px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: all .3s linear;

}

.dark #header,.dark #body{
    background-color: #23272f;
}

.dark .text{
    color: white;
}