body{
    background: #f8f8ff;
}

#product-wrapper{
    padding: 50px;
}

.product-item{
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.product-item .product-img img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.title{
    font-size: 25px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
}