.header,.footer{
    background-color: green;
    height: 80px;
}

.body{
    display: flex;
    
}

.main-content{
    flex: 1;
    background-color: red;
    height: 700px;
}

.sidebar{
    background-color: blue;
    width: 200px;
}
