*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

#form{
    margin: 0 auto;
    width: fit-content;
}

#form *{
    display: block;
    margin: 10px 0px;
    text-align: center;
}